@import "layout/header";
@import "layout/footer";

h1 {
  margin-left: 40px;
  margin-top: 40px;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 40px;

  form {
    width: 60%;
    padding-right: 40px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    cursor: pointer;
    border: solid black 1px;
    border-radius: 4px;
    transition: 0.5s ease-in;

    &:hover {
      background-color: #000000;
      color: white;
      transform: scale(0.9);
    }
  }
}

.form-image {
  width: 40%;
  margin-left: 20px;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}